

*{
    margin: 0;
    padding: 0;
  }
  html,body{
      width:100%;
      background-color: #050408;
      color:#eee;
      
      height: 100%;   
      font-family: 'Abel', sans-serif;  
      scroll-behavior: smooth;
  }
#parent{
    height:80%;
    width:100%;
    font-size: 3em;
    background: linear-gradient(-45deg,#f54291, #ff78ae,#f30067, #df0054);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
    padding-top:10%;
    text-align: center;
    background-repeat: none;
	
    
}
@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
